.body{
    display: flex;
}
.content{
    background-color: aqua;
    height: 100%;
    width: 100%;

}
.sidebar{
    background-color: blueviolet;
    height: 100%;
    width: 100px;
    text-align: center;
    font-size: 20px;
}